*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

.box{
    width: 40%;
height: 390px;
left: 442.5px;
background: #FFFFFF;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
border-radius: 5px;
margin: auto;
margin-top: 100px;
}
.header{
    text-align: center;
    padding: 10px;
}
.header h1{
    font-weight: 400;
    margin-bottom: 10px;
font-style: normal;
font-weight: bold;
font-size: 32px;


}
.center{
    padding: 28px;
}
.header p{
font-size: 14px;
Line-height: 21px;
/* Line-height: 150%; */
}
input{
    border: 0;
 
width: 100%;
background: #EFF0F2;
padding: 3px;
font-size: 16px;
border-radius: 5px;
padding: 12px 20px;
margin: 10px 0;
box-sizing: border-box;
}
.section1{
    text-align: center;
}
button{
    color: white;
    background-color: #A91F2F;
    border: none;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: #A91F2F;
}

@media only screen and (max-width: 600px) {
    .box {
      width: 90%;
    }
  }